$menuTransparentBackground: #c4dfca1f;
$logoBackground: #c4dfcaf1;
$borderWhite: solid 1px #ffffff;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	min-height: 90vh;
	background-image: url(BG.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 20px;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;

	width: 50%;
	height: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.5s, width 0.5s, height 0.5s;
	backdrop-filter: blur(10px);
	border-radius: 1rem;

	perspective: 1000px;
}

.flip {
	transform: rotateY(180deg);
}
.maxWH {
	width: 100%;
	height: 100%;
	border-radius: 0px;
}
.noPerspective {
	perspective: none;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;
	transform-style: preserve-3d;

	background-color: #c4dfca4d;
	border: $borderWhite;
	border-radius: inherit;

	transition: transform 0.5s, width 0.5s, height 0.5s;

	.card-front,
	.card-back {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		position: absolute;
		padding: 0rem 3rem 3rem 3rem;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
	.card-front {
		.expand {
			position: absolute;
			width: 2rem;
			height: 2rem;
			bottom: 0;
			right: 0;
			border-radius: 50% 0rem 0rem 0rem;
			z-index: 1;
			background-color: #00000057;
			border-top: 1px solid white;
			border-left: 1px solid white;
			box-shadow: #00000079 0.2rem 0.2rem 2px inset;
			cursor: pointer;
			transition: before 0.5s, after 0.5s;

			&:before,
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				border: $borderWhite;
				width: 0.5rem;
				height: 0.5rem;
			}
			&:hover {
				&:before,
				&:after {
					animation: expandAnim 1s alternate infinite;
				}
			}
			&:before {
				transform: translate(-30%, -70%);
			}
			&:after {
				transform: translate(-70%, -30%);
				background-color: white;
			}
		}
	}
	.card-back {
		color: white;
		transform: rotateY(180deg);
		cursor: pointer;
		padding: 3rem;

		.card-back-logo {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 50%;
			background-image: url(LOGOS/MQTRFO.svg);
			background-repeat: no-repeat;
			background-position: top right;
			z-index: -1;
			opacity: 0.3;
		}

		.watermark {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 100%;

			background: repeating-linear-gradient(
				-45deg,
				transparent 0 20px,
				#2c2c2c80 20px 30px
			);
			z-index: -2;
			opacity: 0.1;
		}

		.business-card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			.business-card-bio {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				margin-bottom: 1rem;
				.business-card-bio-avatar {
					flex-shrink: 0;
					width: 8rem;
					height: 8rem;
					margin-right: 2rem;
					border: $borderWhite;
					box-shadow: 0 0 5px 5px #00000027;

					background-image: url(ICON.jpg);
					background-position: center;
					background-size: cover;
					background-color: #c4dfca4d;
				}
				.business-card-bio-info {
					text-shadow: #00000057 1px 1px 3px;
					h1 {
						margin-bottom: 0rem;
					}

					h1 + p {
						margin-bottom: 15px;
						margin-left: 2px;
					}
					p {
						margin: 4px;
					}
				}
			}
			.business-card-social {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				width: 100%;
				a {
					border: $borderWhite;
					border-radius: 50%;
					width: 5rem;
					height: 5rem;
					margin-right: 2rem;
					margin-bottom: 2rem;
					background-color: #c4dfca4d;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					box-shadow: 0 0 5px 5px #00000027;
				}

				.instagram {
					background-image: url(Social/Instagram.svg);
				}
				.whatsapp {
					background-image: url(Social/Whatsapp.svg);
				}
				.telegram {
					background-image: url(Social/Telegram.svg);
				}
				.email {
					background-image: url(Social/Mail.svg);
				}
				.phone {
					background-image: url(Social/Phone.svg);
				}
			}
		}
	}
}

.navbar {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin-bottom: 1rem;
	perspective: 1000px;
	.logo {
		transform: translate(0%, -50%);
		width: 3rem;
		height: 3rem;
		border: $borderWhite;
		border-radius: 50%;
		background-image: url(LOGOS/MQ.svg);
		background-color: $logoBackground;
		cursor: pointer;
		flex-shrink: 0;
		transition: transform 1s;
	}
	.logoMax {
		transform: translate(-80%, 10%);
	}
	.menu {
		display: flex;
		justify-content: space-around;
		width: 15rem;
		height: 3rem;
		border: $borderWhite;
		border-top: 0;
		border-radius: 0 0 1rem 1rem;
		box-shadow: #00000079 0px -2px 7px inset;
		background-color: $menuTransparentBackground;
		padding: 1rem;
		backdrop-filter: brightness(1%);

		a {
			text-decoration: none;
			text-shadow: black 0px 0px 3px;
			color: #0aff99;
			transition: color 0.5s;
			position: relative;

			&:hover,
			.active,
			&:focus {
				color: orange;

				&:before {
					content: "";
					position: absolute;
					width: 100%;
					top: -1rem;
					border: solid 1px currentColor;
					box-shadow: #00000079 0px 0px 2px 0px, currentColor 0px 10px 15px 5px;
				}
			}

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				top: -1rem;
				border: solid 1px transparent;
				transition: box-shadow 0.8s, border 0.5s;
			}
		}
	}
}

.content {
	display: flex;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	border: $borderWhite;
	border-radius: 1rem;
	box-shadow: #00000079 0px 0px 7px 7px inset;
	text-shadow: 2px 2px 2px #00000079;
	color: white;
	overflow: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: both mandatory;
	scroll-snap-align: center;

	.activeContent {
		background-color: red;
	}
	.about,
	.skills,
	.gallery {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		padding: 1rem;
		scroll-snap-align: center;
		scroll-snap-stop: normal;
		border-radius: 1rem;
		background-color: #00000020;
	}

	.about {
		background-color: #0afff334;
	}
	.gallery {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		overflow-y: auto;

		.gallery-col {
			display: flex;
			flex-direction: column;
			width: 10rem;
			margin: 0.2rem;
			flex-shrink: 0;
			flex-grow: 0;

			img {
				width: 100%;
				border: $borderWhite;
				border-radius: 0.5rem;
				margin-bottom: 0.2rem;
			}
		}
	}

	.skills {
		.skills-nav {
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			background-color: #00000027;
			text-align: center;
			border-radius: 0.5rem;

			a {
				text-decoration: none;
				color: orange;
				margin-right: 0.5rem;
				transition: color 0.5s;

				&:hover {
					color: #ffec44;
				}
			}
		}

		.skills-all,
		.skills-frontend,
		.skills-backend,
		.skills-web {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			min-height: 100%;
			overflow-y: auto;
			order: 2;
			opacity: 0;
			transition: opacity 1s;

			.skills-info {
				flex-shrink: 0;
				width: 50%;
			}

			.skills-chart {
				width: 50%;
				flex-shrink: 0;
				.canvas {
					height: 100%;
				}
			}
		}
		.first-order {
			order: 1;
			opacity: 1;
		}
		.skill-capsule {
			padding: 0.3rem;
			border-radius: 0.8rem;
			background-color: yellow;
			margin: 0.3rem;
			border: $borderWhite;
			box-shadow: 0 0.2rem 0.2rem 0.1rem yellowgreen;
		}
	}
}

@media screen and (max-width: 1024px) {
	body {
		perspective: none;
	}
	.main {
		width: 100%;
		height: 100%;
		border-radius: 0px;

		.card {
			border-radius: 0px;
			.card-back {
				.business-card {
					justify-content: center;
					align-items: center;
					.business-card-bio {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;
					}
					.business-card-social {
						justify-content: center;
						a {
							width: 4rem;
							height: 4rem;
						}
					}
				}
			}
		}
	}

	.navbar {
		.logo {
			transform: translate(-80%, 10%);
			width: 3rem;
			height: 3rem;
		}

		.menu {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.content {
		.skills {
			.skills-all,
			.skills-frontend,
			.skills-backend,
			.skills-web {
				flex-direction: column;
				.skills-info {
					width: 100%;
				}

				.skills-chart {
					width: 100%;
					.canvas {
						height: 100%;
					}
				}
			}
		}
	}
	.expand {
		display: none;
	}
}

@keyframes expandAnim {
	100% {
		transform: translate(-50%, -50%);
	}
}
