html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  min-height: 90vh;
  background-color: #1f3a58;
  background-image: url(BG.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 20px;
          perspective: 20px;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 50%;
  height: 60%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 1rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.maxWH {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.maxWH .expand {
  border-radius: 50% 0rem 0rem 0rem;
}

.noPerspective {
  -webkit-perspective: none;
          perspective: none;
}

.expand {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 0;
  right: 0;
  border-radius: 50% 0rem 1rem 0rem;
  z-index: 1;
  background-color: #00000057;
  border-top: 1px solid white;
  border-left: 1px solid white;
  -webkit-box-shadow: #00000079 0.2rem 0.2rem 2px inset;
          box-shadow: #00000079 0.2rem 0.2rem 2px inset;
  cursor: pointer;
  -webkit-transition: before 0.5s, after 0.5s;
  transition: before 0.5s, after 0.5s;
}

.expand:before, .expand:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border: solid 1px #ffffff;
  width: 0.5rem;
  height: 0.5rem;
}

.expand:hover:before, .expand:hover:after {
  -webkit-animation: expandAnim 1s alternate infinite;
          animation: expandAnim 1s alternate infinite;
}

.expand:before {
  -webkit-transform: translate(-30%, -70%);
          transform: translate(-30%, -70%);
}

.expand:after {
  -webkit-transform: translate(-70%, -30%);
          transform: translate(-70%, -30%);
  background-color: white;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #c4dfca4d;
  border: solid 1px #ffffff;
  border-radius: inherit;
  border-width: 2px;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s, -webkit-transform 0.5s;
}

.card .card-front,
.card .card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 0rem 3rem 3rem 3rem;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card .card-back {
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
  padding: 3rem;
}

.card .card-back .card-back-logo {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-image: url(LOGOS/MQTRFO.svg);
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
  opacity: 0.3;
}

.card .card-back .watermark {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, transparent 0 20px, #2c2c2c80 20px 30px);
  z-index: -2;
  opacity: 0.1;
}

.card .card-back .business-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.card .card-back .business-card .business-card-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.card .card-back .business-card .business-card-bio .business-card-bio-avatar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  border: solid 1px #ffffff;
  -webkit-box-shadow: 0 0 5px 5px #00000027;
          box-shadow: 0 0 5px 5px #00000027;
  background-image: url(ICON.jpg);
  background-position: center;
  background-size: cover;
  background-color: #c4dfca4d;
}

.card .card-back .business-card .business-card-bio .business-card-bio-info {
  text-shadow: #00000057 1px 1px 3px;
}

.card .card-back .business-card .business-card-bio .business-card-bio-info h1 {
  margin-bottom: 0rem;
}

.card .card-back .business-card .business-card-bio .business-card-bio-info h1 + p {
  margin-bottom: 15px;
  margin-left: 2px;
}

.card .card-back .business-card .business-card-bio .business-card-bio-info p {
  margin: 4px;
}

.card .card-back .business-card .business-card-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card .card-back .business-card .business-card-social a {
  border: solid 1px #ffffff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: #c4dfca4d;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 5px 5px #00000027;
          box-shadow: 0 0 5px 5px #00000027;
}

.card .card-back .business-card .business-card-social .instagram {
  background-image: url(Social/Instagram.svg);
}

.card .card-back .business-card .business-card-social .whatsapp {
  background-image: url(Social/Whatsapp.svg);
}

.card .card-back .business-card .business-card-social .telegram {
  background-image: url(Social/Telegram.svg);
}

.card .card-back .business-card .business-card-social .email {
  background-image: url(Social/Mail.svg);
}

.card .card-back .business-card .business-card-social .phone {
  background-image: url(Social/Phone.svg);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.navbar .logo {
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 3rem;
  height: 3rem;
  border: solid 1px #ffffff;
  border-radius: 50%;
  background-image: url(LOGOS/MQ.svg);
  background-color: #c4dfcaf1;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.navbar .logoMax {
  -webkit-transform: translate(-80%, 10%);
          transform: translate(-80%, 10%);
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15rem;
  height: 3rem;
  border: solid 1px #ffffff;
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: #00000079 0px -2px 7px inset;
          box-shadow: #00000079 0px -2px 7px inset;
  background-color: #c4dfca1f;
  padding: 1rem;
  -webkit-backdrop-filter: brightness(1%);
          backdrop-filter: brightness(1%);
}

.navbar .menu a {
  text-decoration: none;
  text-shadow: black 0px 0px 3px;
  color: #0aff99;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  position: relative;
}

.navbar .menu a:hover,
.navbar .menu a .active, .navbar .menu a:focus {
  color: orange;
}

.navbar .menu a:hover:before,
.navbar .menu a .active:before, .navbar .menu a:focus:before {
  content: "";
  position: absolute;
  width: 100%;
  top: -1rem;
  border: solid 1px currentColor;
  -webkit-box-shadow: #00000079 0px 0px 2px 0px, currentColor 0px 10px 15px 5px;
          box-shadow: #00000079 0px 0px 2px 0px, currentColor 0px 10px 15px 5px;
}

.navbar .menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  top: -1rem;
  border: solid 1px transparent;
  -webkit-transition: border 0.5s, -webkit-box-shadow 0.8s;
  transition: border 0.5s, -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s, border 0.5s;
  transition: box-shadow 0.8s, border 0.5s, -webkit-box-shadow 0.8s;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: solid 1px #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: #00000079 0px 0px 7px 7px inset;
          box-shadow: #00000079 0px 0px 7px 7px inset;
  text-shadow: 2px 2px 2px #00000079;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: both mandatory;
      scroll-snap-type: both mandatory;
  scroll-snap-align: center;
}

.content .activeContent {
  background-color: red;
}

.content .about,
.content .skills,
.content .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  border-radius: 1rem;
  background-color: #00000020;
}

.content .about {
  overflow-y: auto;
}

.content .about details {
  outline: none;
}

.content .about details summary {
  outline: none;
}

.content .about table {
  border: 0.3rem solid #00000057;
  border-spacing: 0rem 0rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content .about table tr:nth-child(even) {
  background-color: #41414150;
}

.content .about table tr:nth-child(odd) {
  background-color: #5a5a5a50;
}

.content .about table tr th,
.content .about table tr td {
  border: 0.1rem solid #00000057;
  text-align: left;
  padding: 0.5rem;
}

.content .about table tr th {
  text-align: right;
}

.content .gallery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-y: auto;
}

.content .gallery .gallery-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
  margin: 0.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.content .gallery .gallery-col img {
  width: 100%;
  border: solid 1px #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
}

.content .skills .skills-nav {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #00000027;
  text-align: center;
  border-radius: 0.5rem;
}

.content .skills .skills-nav a {
  text-decoration: none;
  color: orange;
  margin-right: 0.5rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.content .skills .skills-nav a:hover {
  color: #ffec44;
}

.content .skills .skills-all,
.content .skills .skills-frontend,
.content .skills .skills-backend,
.content .skills .skills-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.content .skills .skills-all .skills-info,
.content .skills .skills-frontend .skills-info,
.content .skills .skills-backend .skills-info,
.content .skills .skills-web .skills-info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
}

.content .skills .skills-all .skills-chart,
.content .skills .skills-frontend .skills-chart,
.content .skills .skills-backend .skills-chart,
.content .skills .skills-web .skills-chart {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.content .skills .skills-all .skills-chart .canvas,
.content .skills .skills-frontend .skills-chart .canvas,
.content .skills .skills-backend .skills-chart .canvas,
.content .skills .skills-web .skills-chart .canvas {
  height: 100%;
}

.content .skills .first-order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  opacity: 1;
}

.content .skills .skill-capsule {
  padding: 0.3rem;
  border-radius: 0.8rem;
  background-color: yellow;
  margin: 0.3rem;
  border: solid 1px #ffffff;
  -webkit-box-shadow: 0 0.2rem 0.2rem 0.1rem yellowgreen;
          box-shadow: 0 0.2rem 0.2rem 0.1rem yellowgreen;
}

@media screen and (max-width: 1024px) {
  body {
    -webkit-perspective: none;
            perspective: none;
  }
  .main {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .main .card {
    border-radius: 0px;
  }
  .main .card .card-back .business-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .card .card-back .business-card .business-card-bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .card .card-back .business-card .business-card-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .card .card-back .business-card .business-card-social a {
    width: 4rem;
    height: 4rem;
  }
  .navbar .logo {
    -webkit-transform: translate(-80%, 10%);
            transform: translate(-80%, 10%);
    width: 3rem;
    height: 3rem;
  }
  .navbar .menu {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content .skills .skills-all,
  .content .skills .skills-frontend,
  .content .skills .skills-backend,
  .content .skills .skills-web {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .skills .skills-all .skills-info,
  .content .skills .skills-frontend .skills-info,
  .content .skills .skills-backend .skills-info,
  .content .skills .skills-web .skills-info {
    width: 100%;
  }
  .content .skills .skills-all .skills-chart,
  .content .skills .skills-frontend .skills-chart,
  .content .skills .skills-backend .skills-chart,
  .content .skills .skills-web .skills-chart {
    width: 100%;
  }
  .content .skills .skills-all .skills-chart .canvas,
  .content .skills .skills-frontend .skills-chart .canvas,
  .content .skills .skills-backend .skills-chart .canvas,
  .content .skills .skills-web .skills-chart .canvas {
    height: 100%;
  }
  .expand {
    display: none;
  }
}

@-webkit-keyframes expandAnim {
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes expandAnim {
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

.bg-circle {
  position: absolute;
  background-color: red;
  -webkit-transition: left 10s linear, top 10s linear;
  transition: left 10s linear, top 10s linear;
}

.bg-circle:nth-of-type(1) {
  border: 2px solid white;
  border-radius: 50%;
  left: 10%;
  top: 52%;
  background-color: rgba(119, 63, 75, 0.5);
  width: 15rem;
  height: 15rem;
  -webkit-filter: blur(26px);
          filter: blur(26px);
}

.bg-circle:nth-of-type(2) {
  border: 2px solid white;
  border-radius: 50%;
  left: 20%;
  top: 80%;
  background-color: rgba(192, 124, 68, 0.5);
  width: 19rem;
  height: 19rem;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.bg-circle:nth-of-type(3) {
  border: 2px solid white;
  border-radius: 50%;
  left: 30%;
  top: 35%;
  background-color: rgba(124, 149, 63, 0.5);
  width: 15rem;
  height: 15rem;
  -webkit-filter: blur(23px);
          filter: blur(23px);
}

.bg-circle:nth-of-type(4) {
  border: 2px solid white;
  border-radius: 50%;
  left: 40%;
  top: 32%;
  background-color: rgba(106, 118, 147, 0.5);
  width: 15rem;
  height: 15rem;
  -webkit-filter: blur(22px);
          filter: blur(22px);
}

.bg-circle:nth-of-type(5) {
  border: 2px solid white;
  border-radius: 50%;
  left: 50%;
  top: 77%;
  background-color: rgba(116, 168, 61, 0.5);
  width: 15rem;
  height: 15rem;
  -webkit-filter: blur(14px);
          filter: blur(14px);
}

.bg-circle:nth-of-type(6) {
  border: 2px solid white;
  border-radius: 50%;
  left: 60%;
  top: 42%;
  background-color: rgba(102, 158, 57, 0.5);
  width: 18rem;
  height: 18rem;
  -webkit-filter: blur(18px);
          filter: blur(18px);
}

.bg-circle:nth-of-type(7) {
  border: 2px solid white;
  border-radius: 50%;
  left: 70%;
  top: 31%;
  background-color: rgba(126, 178, 75, 0.5);
  width: 16rem;
  height: 16rem;
  -webkit-filter: blur(24px);
          filter: blur(24px);
}

.bg-circle:nth-of-type(8) {
  border: 2px solid white;
  border-radius: 50%;
  left: 80%;
  top: 12%;
  background-color: rgba(183, 188, 114, 0.5);
  width: 15rem;
  height: 15rem;
  -webkit-filter: blur(27px);
          filter: blur(27px);
}

.bg-circle:nth-of-type(9) {
  border: 2px solid white;
  border-radius: 50%;
  left: 90%;
  top: 6%;
  background-color: rgba(170, 197, 75, 0.5);
  width: 19rem;
  height: 19rem;
  -webkit-filter: blur(21px);
          filter: blur(21px);
}
/*# sourceMappingURL=style.css.map */